.sidebarShow {
    position: fixed;
    height: 100vh;
    width: 60px;
    transition: all 0.25s linear;
    z-index: 2;
    margin-left: -0;
}
.sidebarHidden {
    position: relative;
    height: 100vh;
    width: 60px;
    margin-left: -60px;
    transition: all 0.25s linear;
}
.icon-toggle {
    position: absolute;
    top: -0px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    right: -45px;
    font-size: 45px;
    color: inherit;
}
.list-sidebar {
    padding: 20px 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.list-sidebar li {
    width: 45px;
    height: 45px;
    margin: auto;
}
.list-sidebar li a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-sidebar-mock {
    position: relative;
    height: 100vh;
    opacity: 0.6;
    width: 60px;
    transition: all 0.25s linear;
}
.list-sidebar-mock-none {
    position: relative;
    height: 100vh;
    opacity: 0.6;
    width: 0;
}
.list-sidebar-icon {
    width: 100%;
    height: 100%;
    padding: 8px;
}
/* HOVER WHEN WE CHANGE COLOR SCREEN*/
.list-sidebar-true:hover {
    background-color: rgb(100, 97, 97);
    border-radius: 6px;
}
.list-sidebar-false:hover {
    background-color: #baeeef;
    border-radius: 6px;
    color: #242526;
}