/* .dashboard {
} */
.dashboard_header {
    padding: 10px 40px 10px 60px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    background-color: #bcbeb7;
}
.dashboard_content {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
.dashboard_content h1 {
    font-size: 60px;
}
.logout {
    border: 1px solid black;
    padding: 5px;
    width: min-content;
    border-radius: 4px;
    cursor: pointer;
}