.chat {
    width: 100%;
    height: calc(100vh - 60px);
    background: inherit;
}
.chatwrapper {
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.chat-conversation {
    padding: 10px;
    flex: 3;
}
.chat-conversation-note {
    display: flex;
    justify-content: space-between;
}
.chat-conversation-note h3 {
    margin-bottom: 0;
}
.chat-conversation-note-icon {
    margin-right: 10px;
}
.chat-conversation-online {
    display: flex;
    align-items: center;
}
.chat-conversation-offline {
    display: flex;
    align-items: center;
}
.chat-conversation-online span:first-child {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: greenyellow;
    margin-right: 5px;
}
.chat-conversation-offline span:first-child {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #999;
    margin-right: 5px;
}
.chat-message {
    padding: 10px 3px 10px 10px;
    flex: 6;
    border-right: 1px solid #999;
    border-left: 1px solid #999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100%;
}
.chat-infomessage {
    padding: 10px;
    flex: 3;
}
.chat-conversation h3 {
    color: inherit;
    font-weight: 500;
    font-size: 30;
}
.conversation-form {
    display: flex;
    height: 50px;;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0px 0px 20px;
    border-bottom: 1px solid #999;
}
.conversation-form input {
    border: 1px solid #999;
    border-radius: 30px;
    margin-right: 15px;
}
.conversation-form button {
    border: 1px solid #999;
    border-radius: 7px;
}
.conversation-list {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.conversation-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: min-content;
    border-bottom: 1px solid #999;
}
.conversation-item:first-child {
    border-top: 1px solid #999;
}
.conversationImg {
    position: relative;
    height: 35px;
    width: 35px;
    border: 1px solid #999;
    border-radius: 50%;
    margin-right: 15px;
}
.conversationImg img {
    height: 35px;
    width: 35px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid rgb(240, 209, 209);
}
.conversationStatus.true {
    background-color: #999;
}
.conversationStatus {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 10px;
    height: 10px;
    background-color: greenyellow;
    border-radius: 50%;
}
.conversationText {
    flex: 1;
    text-align: start;
    cursor: pointer;
    height: 100%;
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
}
.conversationText-notify-none {
    display: none;
}
.conversationText-notify {
    margin-right: 10px;
    display: inline-block;
    background-color: red;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    color: blanchedalmond;
    text-align: center;
}
.conversationText:hover {
    /* border: 1px solid #999; */
    background-color: rgb(165, 168, 165);
}
/* message  */
.message-content {
    flex: 1;
    overflow-y: scroll;
}

.message-content::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  .message-content::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  .message-content::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 3px;
  }
  
  /* Handle on hover */
  .message-content::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.message-form {  
    max-height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.message-form button {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    border: 1px solid #999;
    border-radius: 7px;
}
.message-form textarea {
    color: black;
    border: 1px solid #999;
    width: 100%;
    max-height: 100px;
    border-radius: 7px;
}
.message-list {
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding: 0px 10px;
}
.message-item {
    display: flex;
    min-height: 40px;
    margin-top: 10px;
}
.message-item.own {
    display: flex;
    width: 100%;
    min-height: 40px;
    margin-top: 10px;
    justify-content: flex-end;
    color: black;
}
.message-item.own .messageImg {
    display: none;
}
.message-item.own .messageText  {
    background-color: rgb(122, 216, 219);
    color: black;
}
.messageInfo {
    display: flex;
    flex-direction: column;
}
.messageImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.messageImg img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #999;
}

.message-item.own .messageInfo {
    display: flex;
    flex-direction: column;
}
.messageText {
    margin-left: 15px;
    border-radius: 7px;
    border: 1px solid #999;
    padding: 7px;
    min-width: 120px;
    max-width: 350px;
    text-align: start;
}
.messageTime {
    color: black;
    text-align: end;
    font-size: 12px;
}