.header {
    height: 60px;
    box-sizing: border-box;
    background: inherit;
    margin-bottom: 1px;
    box-shadow: 0px 0.5px 10px #999;
}
.header-nav {
    padding: 10px 20px 10px 60px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    box-sizing: border-box;
}

ul.header-nav {
    margin-bottom: 0;
}
.header-nav li:first-child {
    color: inherit;
    font-size: 18px;
}
.header-nav li:last-child {
    box-sizing: border-box;
    position: relative;
    color: inherit;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    z-index: 20;
    cursor: pointer;
}
.header-nav-icon-true:hover {
    background: rgba(211, 208, 208, 0.2);
    color: white;
}
.header-nav-icon-false:hover {
    background: rgba(211, 208, 208, 0.2);
    color: rgb(99, 197, 143);
}
.header-nav-icon {
    padding: 8px;
    position: absolute;
    top: 0;
    left: 0;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.header-nav-force {
    box-sizing: border-box;
    position: relative;
    color: inherit;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    z-index: 20;
    cursor: pointer;
}
.header-nav-force::before {
    box-sizing: border-box;
    content: '';
    position: absolute;
    color: inherit;
    width: 40px;
    height: 40px;
    top: -1px;
    left: 0;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(49, 230, 230, 0.4) !important;
}
.feature-change {
    position: absolute;
    top: 45px;
    right: 0;
    z-index: 20;
    height: min-content;
    background-color: inherit;
    padding: 10px 15px;
    border-radius: 7px;
    width: max-content;
    transform-origin: calc(100% - 10px) top;
    animation: featureChangeGrowth 0.25s ease-in;
    will-change: transform, opacity;
}
@keyframes featureChangeGrowth {
    from {
        transform: scale(0);
        opacity: 0.7;
    }
    to {
        transform: scale(100%);
        opacity: 1;
    }
}

.feature-change.none {
    display: none;
}
.feature-change-info {
    display: flex;
    height: min-content;
    align-items: center;
    padding: 10px 7px; 
    border-bottom: 1px solid whitesmoke;
    transition: all 0.2s linear;
    cursor: pointer;
}
.feature-change-info img {
    display: block;
    height: 50px;
    width: 50px;
    border: 1px solid #999;
    border-radius: 50%;
    margin-right: 20px;
}
.feature-change-info-name {
    margin: 0;
    padding: 0;
    color: inherit;
    font-size: 20px;
    height: 30px;
    line-height: 20px;
}
.feature-change-info-title {
    margin: 0;
    font-size: 15px;
    padding: 0;
    color: inherit;
    height: 15px;
    line-height: 0px;
}
.feature-change-warning {
    display: flex;
    align-items: center;
    padding: 10px 15px; 
    border-bottom: 1px solid whitesmoke;
    transition: all 0.2s linear;
    cursor: pointer;
}
.feature-change-warning-icon {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: inherit;
    margin-right: 20px;
}
.feature-change-warning-text p:first-child {
    margin: 0;
    padding: 0;
    color: inherit;
    font-size: 18px;
    line-height: 15px;
}
.feature-change-warning-text p:last-child {
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: inherit;
    line-height: 22px;
}
.feature-change-setting {
    display: flex;
    align-items: center;
    padding: 10px 15px; 
    transition: all 0.2s linear;
    cursor: pointer;
}
.feature-change-setiing-icon {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    margin-right: 20px;
    border-radius: 50%;
}
.feature-change-setting-text{
    margin: 0;
    padding: 0;
    color: inherit;
    font-size: 18px;
}
.feature-change-screen {
    display: flex;
    align-items: center;
    padding: 10px 15px; 
    transition: all 0.2s linear;
    cursor: pointer;
}
.feature-change-screen-icon {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    margin-right: 20px;
    border-radius: 50%;
}
.feature-change-screen-text{
    margin: 0;
    padding: 0;
    color: inherit;
    font-size: 18px;
}

.logout {
    display: flex;
    align-items: center;
    padding: 10px 15px; 
    transition: all 0.2s linear;
    cursor: pointer;
}
.logout-icon {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    margin-right: 20px;
    border-radius: 50%;
}
.logout-text{
    margin: 0;
    padding: 0;
    color: inherit;
    font-size: 18px;
}
.feature-change-end {
    border-top: 1px solid whitesmoke;
    padding: 20px;
    color: inherit;
} 
/* HOVER WHEN WE CHANGE COLOR SCREEN*/
.feature-change-true:hover {
    background-color: rgb(100, 97, 97);
    border-radius: 4px;
}
.feature-change-false:hover {
    background-color: #baeeef;
    border-radius: 4px;
}